@model List<Horizon.Web.Models.PostCategory>
@{
    Layout = "~/Areas/Blog/Views/Shared/_BlogLayout.cshtml";
}

<div class="container">
    <div class="row section">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            @Html.Partial("Controls/_BreadCrumb", ViewBag.BreadCrumb as Horizon.Web.Models.BreadCrumb)
            @foreach (var category in Model as List<Horizon.Web.Models.PostCategory>)
{
    <article class="blog-post">
    <header>
        <h1><a title="@category.Name" rel="" href="@Url.RouteUrl("blog-category-view", new { categoryname = @category.CategoryName })">@category.Name</a></h1>        
    </header>
    <p class="excerpt">@category.Description</p>
    <footer>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a title="@Url.RouteUrl("blog-category-view", new { categoryname = @category.CategoryName })" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> View posts under this category</a>
        </div>
    </footer>
</article>


}
        </div>
        <div class="col-xs-12-col-sm-12 col-md-4 col-lg-4">
            @Html.Partial("_BlogSideNavigation")
        </div>

    </div>
</div>


