<!DOCTYPE html><html><head>@Html.Partial("Controls/_MetaTags")<title>@ViewBag.Title - Eduardo Macho</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach(var pages in ViewBag.Menu as List<Horizon.Web.Models.Page> )
                    {
                        <li><a href="/@Horizon.Web.Helpers.CultureHelper.GetCurrentCulture/home/@pages.Name">@pages.Title</a></li>
                    }                   
                </ul>
                <ul class="nav navbar-nav navbar-right visible-md visible-lg">
                    @*<li>@Html.Partial("_LoginPartial")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="row footer">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <p>Eduardo Macho</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4 class="text-uppercase">About</h4>
                <ul class="list-unstyled">
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4 class="text-uppercase">Categories</h4>
                <ul class="list-unstyled">
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h4 class="text-uppercase">Connect</h4>
                <p>Other information</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
